body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: contain;
  height: 200px;
  margin-top: 1em;
}

.list-group-item {
  background-color: #f8f9fa;
  border-color: transparent;
  border-radius: 0;
}

h3 {
  margin-top: 1em !important;
}
